body {
    font-family: 'Georgia', serif;
    color: #8a7f8d;
    margin: 0;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

h2 {
    background-color: rgba(255, 255, 255, 0.8); /* Increased transparency for a lighter feel */
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    color: #8a7f8d; /* Light cream color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
}

form, .buttons {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    width: fit-content;
}

input, select, button {
    font-family: 'Georgia', serif;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid #e3c668; /* Gold color */
    background-color: #fff;
    color: #333;
}

input[type=submit], button {
    background-color: #e3c668; /* Gold color */
    color: #fff;
    cursor: pointer;
}

input[type=submit]:hover, button:hover {
    background-color: #e3c668; /* Darker gold */
}


img#transformed-image {
    max-width: 80%;
    height: auto;
    border: 10px solid #e3c668; /* Gold color for frame */
    padding: 5px; /* Space between image and frame */
    background-color: #fff;
    display: block;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin: 20px auto; 
}

